.menu-button{
    -fx-background-color: #AEAEAE;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.menu-button:pressed{
    -fx-background-color: #BFBFBF;
}

.menu-button:focused{
    -fx-background-color: #BFBFBF;
}

.menu-button:hover{
    -fx-background-color: #BFBFBF;
}

.menu-selected{
    -fx-background-color: #BFBFBF;
    -fx-background-radius: 10;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.group-item{
    -fx-background-radius: 10;
    -fx-background-color: #fff;

}

.leave-button{
    -fx-background-color: #FC4850;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.accept-button{
    -fx-background-color: #00B126;
    -fx-background-radius: 40;
    -fx-cursor: hand;
}
.decline-button{
    -fx-background-color: #FC4850;
    -fx-background-radius: 40;
    -fx-cursor: hand;
}

.accept-button:hover{
    -fx-background-color: #22db4a;
}

.decline-button:hover{
    -fx-background-color: #ff7177;
}

.go-to-groups-button{
    -fx-background-color: #FFECB3;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.select-button{
    -fx-background-color: #CF60EA;
    -fx-background-radius: 10;
}

.management-buttons{
    -fx-background-radius: 40;
    -fx-cursor: hand;
}

.edit-button-color{
    -fx-background-color: #F2EB2A;
}

.delete-button-color{
    -fx-background-color: #FC4850;
}

.text-input{
    -fx-background-radius: 10;
}

.profile-menu{
    -fx-background-color: white;
    -fx-background-radius: 0 50 50 0;
    -fx-cursor: hand;
}

.profile-menu-owner{
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

.profile-menu:hover{
    -fx-background-color: #b7bffa;
}

.profile-menu:focused, .profile-menu:pressed{
    -fx-background-color: #536DFE;
}

.profile-menu#delete:hover, .profile-menu#delete:focused, .profile-menu#delete:pressed{
    -fx-background-color: #ff4b4b;
}

.profile-menu-box{
    -fx-background-color: #ececec;
}

.confirm-button{
    -fx-background-color: #00B126;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.confirm-button:hover{
    -fx-background-color: #22db4a;
}

.confirm-button-owner{
    -fx-background-color: #e573ff;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.confirm-button-owner:hover{
    -fx-background-color: violet;
}

